body {
    background-color: lightyellow;
}
p {
    font-family: "Helvetica", sans-serif;
    color: DarkRed;
    margin-top: 100px;
}
h1 {
    font-family: "Impact", sans-serif;
    text-align: center;
    color: orangered;
    background-color: yellow;
}
img{
    margin-left: 400px;
    border: 2px solid red;
}
a {
    margin-top: 2000px;
    margin-left: 400px;
    text-decoration: none;
    color: red;
}
    h2 {
        font-family: Impact, sans-serif;
        text-align: center;
        color: red; 
        margin-bottom: 500px;
    }
